*{
    margin: 5;
    padding: 0;
    text-align: left;
    display:flex;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:rgb(249, 248, 246)
    
}



img{
    width: 30em;
    max-width: 50%;

}